.navbar-brand
{
	font-size:38px;
}

.form-container
{
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px; 
}

#myVideo 
{
  position: fixed;
  right: 0;
  z-index:0px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}