*{
	margin: 0;
	padding: 0;
}

body{
	background: #C5C1BB
}

header{
	padding: 20px;
	font-size: 40px;
	background: #484E4A;
	color: #C5C1BB;
}

ul{
	position: relative;
	left: 87%;
	margin: 5px;
	padding: 5px;
	color: #484E4A;
	width: 150px;
	background: #C5C1BB;
	list-style: none;
	border-radius: 8px; 	
}

ul:hover > li{
	display: flex;
	height: 20px;
	transition-property: 
}

ul li{
	display: none;
}

footer{
	position:fixed;
	left:0;
	bottom:0;
	background: #484E4A;
	width:100%;
}